#modalBackground {
    background-color:rgba(0, 0, 0, 0.85);
    width: 100%;
    /* top: 0;
    bottom: 0; */
    height: 100vh;
    position: absolute;
}

#exitButtonContainer {
    float: right;
    right: 0;
    /* padding: 1em;  */
}

#exitButton {
    background: none;
    border: none;
    color: black;
    font-size: 2.5em;
    font-weight: bolder;
}

#exitButton:hover {
    color: #a00707;
}

#formContainer {
    margin: auto;
    margin-top: 2em; 
    padding: 2em;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

#formHeader {
    text-align: center;
    font-weight: bolder;
}

#buttonContainer {
    margin: auto;
    width: 10em;
}

#addItemSubmitButton {
    width: 100%;
}