#menuButton {
    font-size: 2.5em;
    font-weight: bold;
    background: none;
    border: none;
}

/* #menuButton:focus{
    text-decoration: underline;
} */

/* .selected:focus{
    text-decoration: underline;
} */

.selectedCategory {
    text-decoration: underline;
}